<!-- Topbar Start -->
<div class="container-fluid navarBgGradient text-white d-none d-lg-flex scrolling-navbar">
    <div class="container py-3">
        <div class="d-flex align-items-center scrolling-content">
            <div class="ms-auto d-flex align-items-center">
                <small class="ms-4">
                    <i class="fa fa-map-marker-alt me-3"></i>Kharadi, Pune, Maharashtra, India, 411014
                </small>
                <small class="ms-4">
                    <i class="fa fa-envelope me-3"></i>info@koinetmedia.com
                </small>
                <small class="ms-4">
                    <i class="fa fa-phone-alt me-3"></i>+91 9021568448
                </small>
                <div class="ms-3 d-flex">
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.facebook.com/koiNetMediaITES">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://x.com/MediaKoinet">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.linkedin.com/company/31556606/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-sm-square btn-light text-primary rounded-circle ms-2" href="https://www.instagram.com/koinetmedia">
                        <i class="fab fa-instagram p-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="/" class="navbar-brand">
                <img src="public/images/Logo.png" alt="logo" width="150px" height="40px" />
                <h5 class="mt-2">Koinet Media Ites Pvt Ltd.</h5>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a href="index.html">
                    <h2 class="text-white fw-bold me-5"></h2>
                </a>
                <div class="navbar-nav ms-auto">
                    <a href="/" id="nav-home" class="nav-item nav-link">Home</a>
                    <a href="/services" id="nav-services" class="nav-item nav-link">Services</a>
                    <a href="/blog" id="nav-blog" class="nav-item nav-link">Blog</a>
                    <a href="/about" id="nav-about" class="nav-item nav-link">About Us</a>
                    <a href="/contact" id="nav-contact" class="nav-item nav-link ">Contact Us</a>
                </div>
            </div>
             
        </nav>
    </div>
</div>
{{{body}}}
<!-- Navbar End -->


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var currentPath = window.location.pathname;

    var navLinks = {
        '/': 'nav-home',
        '/services': 'nav-services',
        '/blog': 'nav-blog',
        '/about': 'nav-about',
        '/contact': 'nav-contact'
    };

    var navItemId = navLinks[currentPath];
    if (navItemId) {
        var activeLink = document.getElementById(navItemId);
        activeLink.classList.add('active');
    }
});
</script>