<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form action="/login" method="POST">
  <div class="recaptcha-container">
    <div
      class="g-recaptcha"
      data-sitekey="6Ld3OPYpAAAAAEFwTbe61yzBBwg07nogKwTY82iu"
    ></div>
  </div>

</form>

