<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  </head>
  <body>
    {{>nav}}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="fw-bold text-center my-5"><span
                class="text_red"
              >C</span>CPA
              <span class="text_red">I</span>nformation</h1>
          </div>
          <div>
            <table class="table table-striped table-hover">
              <thead>
                <tr class="text-center">
                  <th scope="col">Sr.No.</th>
                  <th scope="col">Category</th>
                  <th scope="col">Examples</th>
                  <th scope="col">Collected</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Identifiers</td>
                  <td>A real name, alias, postal address, unique personal
                    identifier, online identifier, Internet Protocol address,
                    email address, business name, device id, or other similar
                    identifiers.
                  </td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Personal information categories listed in the California
                    Customer Records statute (Cal. Civ. Code § 1798.80(e)).</td>
                  <td>A name, postal address, telephone number, employment name.
                    Some personal information included in this category may
                    overlap with other categories.
                  </td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Protected classification characteristics under California
                    or federal law.</td>
                  <td>Age (40 years or older), race, color, ancestry, national
                    origin, citizenship, religion or creed, marital status,
                    medical condition, physical or mental disability, sex
                    (including gender, gender identity, gender expression,
                    pregnancy or childbirth and related medical conditions),
                    sexual orientation, veteran or military status, genetic
                    information (including familial genetic information).
                  </td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Commercial information</td>
                  <td>Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.	</td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Biometric information</td>
                  <td>Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.	</td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Internet or other similar network activity.</td>
                  <td>Browsing history, search history, information on a consumer’s interaction with a website, application, or advertisement.	</td>
                  <td>YES</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Geolocation data</td>
                  <td>Physical location or movements</td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Sensory data</td>
                  <td>Audio, electronic, visual, thermal, olfactory, or similar information.	</td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Professional or employment-related information.</td>
                  <td>Current or past job history or performance evaluations.	</td>
                  <td>YES</td>
                </tr>
                  </tr>
                <tr>
                  <td>10</td>
                  <td>Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99))</td>
                  <td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.	</td>
                  <td>NO</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Inferences drawn from other personal information.</td>
                  <td>Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.	</td>
                  <td>NO</td>
                </tr>
                  
              </tbody>
            </table>
          </div>
          <div>
            <p class="fs-3 fw-bold">Personal information does not include:</p>
            <p>Publicly available information from government records.</p>
            <ol>
                <li>De-identified or aggregated consumer information.</li>
                <li>Information excluded from the CCPA’s scope, like:</li>
                <li>Health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;</li>
                <li>Personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver’s Privacy Protection Act of 1994</li>
            
            </ol>
            <p>We obtain the categories of personal information listed above from the following categories of sources:</p>
            <ol>
                <li>Directly from our clients or their agents. For example, from documents that our clients provide to us related to the services for which they engage us.</li>
                <li>Indirectly from our clients or their agents. For example, through information we collect from our clients in the course of providing services to them.</li>
                <li>Directly and indirectly from activity on our website (www.koinetmedia.com). For example, from submissions through our website portal, landing pages, or website usage details collected automatically.</li>
                <li>From third-parties that interact with us in connection with the services we perform.</li>
            </ol>
            <p class="fs-3 fw-bold">Sharing Personal Information</p>
            <p>We may disclose your personal information to a third party for a business purpose. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract.
</p>
            <p>In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:
</p>
            <p>In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:</p>
            <p>Category A: Identifiers.</p>
            <p>Category B: California Customer Records personal information categories.</p>
            <p>Category F: Internet or other similar network activity</p>
            <p>Category I: Professional or employment-related information.</p>
            <p>
We disclose your personal information for a business purpose to the following categories of third parties:
</p>
            <p>A.Our affiliates.</p>
            <p>B.Service providers.</p>
            <p>C.Third parties to whom you or your agents authorize/provide consent us to disclose your personal information in connection with products or services we or our clients may offer/provide to you.</p>
            <p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice.</p>
            <p class="fw-bold">Your Rights and Choices</p>
            <p>The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</p>
            <p>Access to Specific Information and Data Portability Rights</p>
            <p>You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</p>
            <ul>
                <li>The categories of personal information we collected about you.</li>
                <li>The categories of sources for the personal information we collected about you.</li>
                <li>Our business or commercial purpose for collecting or selling that personal information</li>
                <li>The categories of third parties with whom we share that personal information.</li>
                <li>The specific pieces of personal information we collected about you (also called a data portability request).</li>
                <li>If we sold or disclosed your personal information for a business purpose, two separate lists disclosing</li>
                <li>Sales, identifying the personal information categories that each category of recipient purchased; and</li>
                <li>Disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</li>
                <li>Deletion Request Rights</li>
            </ul>

            <p>You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies. We may deny your deletion request if retaining the information is necessary for us or our service providers to:</p>
            <ol>
                <li>Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you.</li>
                <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</li>
                <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
                <li>Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
                <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 seq.).</li>
                <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information’s deletion may likely render impossible or seriously impair the research’s achievement, if you previously provided informed consent.</li>
                <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information’s deletion may likely render impossible or seriously impair the research’s achievement, if you previously provided informed consent.</li>
                <li>Comply with a legal obligation.</li>
                <li>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>
                <li>Exercising Access, Data Portability, and Deletion Rights</li>
            </ol>
            <p>Only you or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child.</p>
            <p>You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:</p>
            <ol>
                <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.</li>
                <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
            </ol>
            <p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. Making a verifiable consumer request does not require you to create an account with us. We will only use personal information provided in a verifiable consumer request to verify the requestor’s identity or authority to make the request.</p>
            <p class="fs-3 fw-bold">Use of Personal Information</p>
            <p>We may use or disclose the personal information we collect for one or more of the following business purposes:</p>
            <ol>
                <li>To fulfill or meet the reason for which the information is provided. For example, if you provide us with personal information in order for us to deliver a whitepaper or product information, we will use that information to confirm request/consent.</li>
                <li>To provide you with information, products or services that you request from us.</li>
                <li>To provide you with email alerts, event registrations and other notices concerning our products or services, or events or news, that may be of interest to you.</li>
                <li>To improve our website and present its contents to you.</li>
                <li>For testing, research, analysis and product development.</li>
                <li>As necessary or appropriate to protect the rights, property or safety of us, our clients or others.</li>
                <li>To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.</li>
                <li>As described to you when collecting your personal information or as otherwise set forth in the CCPA.</li>
                <li>To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by us is among the assets transferred.</li>
            </ol>
            <p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice.</p>
            <p class="fs-3 fw-bold">Response Timing and Format</p>
            <p>We are committed to respond to a verifiable consumer request within 45 days of its receipt. If we require more time (up to 90 days), we will inform you of the reason and extension period in writing. We will deliver our written response by postal mail or electronically, at your option. Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request’s receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance.</p>
            <p>We do not charge a fee to process or respond to your verifiable consumer request.</p>
            <p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</p>
            <ol>
                <li>Deny you goods or services.</li>
                <li>Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</li>
                <li>Provide you a different level or quality of goods or services.</li>
                <li>Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</li>
            </ol>
            <p class="fs-3 fw-bold">Changes to Our Privacy Notice</p>
            <p>We reserve the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will notify you by email or through a notice on our website homepage.</p>
            <p class="fs-3 fw-bold">Contact Information</p>
            <p>If you have any questions or comments about this notice, our California Privacy Statement, the ways in which we collect and use your personal information, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:</p>
            
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"
    ><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>
  </body>
</html>