<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  </head>
  <body>
    {{>nav}}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="fw-bold text-center my-5">
              <span class="text_red">C</span>ookies</h1>
          </div>
    <div>
        <p>We use automatically collected information and other information collected during the Services through cookies and similar technologies to:</p>
        <ul>
            <li>Personalize our Service, such as remembering a Customer’s or Visitor’s information or login details so that the Customer or Visitor will not have to re-enter it during a visit or on subsequent accessing;</li>
            <li>Provide customized content and information;</li>
            <li>Monitor and analyze the effectiveness of website and applications and third-party activities;</li>
            <li>Monitor site usage metrics such as the number of visitors.</li>
        </ul>
        <p>Many cookies contain a so-called cookie ID. A cookie ID is a unique identifier of the cookie. It consists of a character string through which Internet pages, servers or apps can be assigned to the specific app or server in which the cookie was stored.</p>
        <p>Through the use of cookies, InsideUp can provide the customers of this website and applications with more customer-friendly services that would not be possible without the cookie setting.</p>
        <p>By means of a cookie, the information and offers on our website and applications can be optimized with the Customer in mind. Cookies allow us, as previously mentioned, to recognize our website, Visitors. The purpose of this recognition is to make it easier for members, clients, and partners to utilize our website. A website Visitor who accepts cookies e.g. does not have to enter access data each time a website page is accessed (because this is taken over by the website), will have a cookie stored on their computer system.</p>
        <p>We may use “session ID cookies” to enable certain features of the Service, to better understand how you interact with the Service and to monitor aggregate usage and web traffic routing on the Service. You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept cookies, however, you may not be able to use all aspects of the InsideUp platform.</p>
        <p>Some web browsers may transmit “do-not-track” signals to websites with which the browser communicates.</p>
        <p>Our website does not currently respond to these “do-not-track” signals.</p>
        <p class="mt-3 fs-3 fw-bold">Strictly necessary cookies</p>
        <p>These cookies are essential, as they enable you to move around the Site and use its features, such as accessing secure areas. Without these cookies, some services you have asked for such as payment submission can’t be provided.</p>
        <p class="fs-3 fw-bold">Performance cookies</p>
        <p>These cookies collect information about how you use the website, for example, which pages you go to most often and if you get error messages from certain pages. These cookies don’t gather the information that identifies you. All information these cookies collect is anonymous and is only used to improve how the website works.</p>
        <p class="fs-3 fw-bold">Functionality cookies</p>
        <p>These cookies allow the website to remember the choices you make. These cookies can also be used to remember changes you’ve made to text size, font and other parts of pages that you can customize. They may also be used to provide services you’ve asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymous and they cannot track your browsing activity on other websites.</p>
        <p class="fs-3 fw-bold">How to Decline the Use of Cookies on Our Website</p>
        <p>The data subject may, at any time, prevent the setting of cookies through our website by means of a corresponding setting of the browser, and may thus permanently deny the setting of cookies. Furthermore, already set cookies may be deleted at any time. If the data subject deactivates the setting of cookies in the browser, then not all functions may be entirely usable.</p>

    </div>
        </div>
      </div>
    </div>
   {{>recaptch}}
    {{>footer}}
    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"
    ><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>
  </body>
</html>