<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8" />
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
</head>
<body>
    {{>nav}}
    
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="fw-bold text-center my-5"><span class="text_red">G</span>eneral <span class="text_red">D</span>ata <span class="text_red">P</span>rotection <span class="text_red">R</span>egulation (GDPR) </h1>
          </div>
      <div>
<p class="fs-3 fw-bold">GDPR NORMS</p>
<p>The General Data Protection Regulation (GDPR) is an EU legislature that objects to giving the citizens of the EU better power and authority over their data. Under this by-law, organizations that handle statistics of EU citizens will have to obey data and privacy instructions. One of the key necessities according to the GDPR is changes to the Privacy Policy and the same has been accepted and updated by Digitalzone to reflect GDPR requirements. We also abide by its key law i.e. to keep EU citizens informed of how industries gather, use, share, protect and process their personal data.</p>
<p class="fs-3 fw-bold">TRANSPARENCY TO ACCOMMODATE GDPR</p>
<p>To strongly and strictly abide by GDPR, we ensure that we follow the principle of transparency that requires all types of information to be precise, easily available when required, easy to read and should also be clear and written in understandable language. Further, illustrations and images are also to be used to make it clear and better to understand. This information should also be made available at appropriate and easy-to-access sources.</p>
<p class="fs-3 fw-bold">DATA PROTECTION LAW</p>
<p>The Data Protection Act 1998 defines how the organization must procure, handle and store personal information to sustain with GDPR. These instructions apply regardless of whether data is stored electronically, on paper or on other materials. To obey the law, personal information must be taken and used fairly, stored safely and not disclosed unlawfully. The GDPR act is underpinned by eight important principals. These say that personal data must:</p>
<ol>
    <li>Be treated honestly and legally</li>
    <li>Begotten only for precise, legal purposes</li>
    <li>Be satisfactory, pertinent and not extreme</li>
    <li>Be correct and kept in accordance with the norms</li>
    <li>Not be held for any further than needed</li>
    <li>Shielded in agreement with the privileges of the data subject</li>
    <li>Be protected in suitable ways</li>
    <li>Not be shifted outside the European Economic Area (EEA), unless that country or territory also safeguards an acceptable level of safety.</li>
</ol>
<p class="fs-3 fw-bold">GDPR GENERAL DATA PROTECTION REGULATION AND COMPLIANCE</p>
<p>These caThe KOINET MEDIA needs to collect and utilize certain information about persons. n include suppliers, customers, employees, business contracts and other people the group have a connection with or may need to contact. The GDPR policy describes how this personal data must meet the company’s data protection standards and be collected, handled and stored to and to comply with the law. The GDPR policy ensures The KOINET MEDIA</p>
<ol>
    <li>Complies with the data protection regulation and abide by good practices</li>
    <li>Shields the privileges of staff, clienteles and associates</li>
    <li>Is open to how it supplies and procedures individuals data</li>
    <li>Defends itself from the dangers of a data breach.</li>
</ol>
<p class="fs-3 fw-bold">PEOPLE, RISKS AND RESPONSIBILITIES AS PER GDPR</p>
<p>The GDPR policy applies to:</p>
<ol>
    <li>The head office of The KOINET MEDIA</li>
    <li>All branches of The KOINET MEDIA</li>
    <li>All staff and volunteers of The KOINET MEDIA</li>
    <li>All contractors, suppliers and other people working on behalf of The KOINET MEDIA</li>
</ol>
<p>GDPR also applies to all data that the business holds relating to recognizable individuals, even if that information technically falls outside of the Data Protection Act 1998. This can include:</p>
<ol>
    <li>Names of persons</li>
    <li>Residential addresses</li>
    <li>Email addresses</li>
    <li>Telephone numbers</li>
    <li>Plus any other information relating to persons</li>
</ol>
<p class="fs-3 fw-bold">DATA PROTECTION RISKS AS PER GDPR</p>
<p>GDPR policy helps to guard The KOINET MEDIA from some very real data safety risks, including:</p>
<p class="fw-bold">Breaches of confidentiality.</p>
<p>For instance, the information being given out inappropriately. Failing to offer choice.
For instance, all persons should be free to choose how the corporation uses data connecting to them. Reputational</p>
<p>For instance, the company could suffer if hackers effectively gained access to complex data.</p>
<p class="fs-3 fw-bold">RESPONSIBILITIES AS PER GDPR</p>
<p>Everyone who works for or with The KOINET MEDIA has some accountability for ensuring data is collected, kept and handled appropriately, particularly when it comes to GDPR. Each team that handles individual data must ensure that it is handled and treated in line with the GDPR policy and data protection principles.</p>
<ol>
    <li>However, these people have key areas of responsibility:</li>
    <li>.The board of directors is ultimately accountable for ensuring that The KOINET MEDIA meets its legal obligations</li>
    <li>The Data Protection Officer is responsible for:</li>
    <li>Keeping the board efficient on data protection responsibilities, dangers and matters.</li>
    <li>Reviewing all data protection measures and related strategies, in line with an agreed timetable.</li>
    <li> Positioning data protection training and information for the people covered by this policy.</li>
    <li>Taking and answering data protection questions from staff and anyone else covered by this policy.</li>
    <li>Dealing with wishes from individuals to see what The KOINET MEDIA holds about them [subject access requests].</li>
    <li>Examining and approving any contracts or agreements with third parties that may handle the company’s sensitive data.</li>
    <li>The IT Manager is responsible for:</li>
    <li>Ensuring all organizations, facilities and equipment used for storing data meet acceptable security standards.</li>
    <li>Performing timely checks and scans to ensure security hardware and software is functioning adequately.</li>
    <li>Assessing any third-party services the company is considering using to store or process data. For instance, cloud computing services.</li>
    <li>The Marketing Manager is responsible for:</li>
    <li>Approving any data protection declarations connected to communications such as communications and letters.</li>
    <li>Addressing any data protection questions from press or media outlets like newspapers.</li>
    <li>Where critical, working with other staff to make sure marketing initiatives stick by data protection principles.</li>
</ol>
<p class="fs-3 fw-bold">GENERAL STAFF GUIDELINES FOR GDPR</p>
<p>The only people able to access data enclosed by this policy should be those who need it for their work.</p>
<ol>
    <li>Data should not be shared amongst people informally. When access to private information is required, employees can demand it from their line managers.</li>
    <li>The KOINET MEDIA will provide training to all workers to help them understand their errands when taking data.</li>
    <li>Employees should keep all data safe, by taking sensible protection and following the guidelines below.</li>
    <li>In particular, strong passwords must be used and they should never be made public.</li>
    <li>Personal data should not be disclosed to unlawful people, either within the company or externally.</li>
    <li>Data should be regularly studied and reorganized if it is found to be out of date. If no longer obligatory, it should be erased and disposed of.</li>
    <li>Employees should appeal for help from their line manager or the data protection officer if they are not sure about any feature of data protection.</li>
</ol>
<p class="fs-3 fw-bold">DATA STORAGE ACCORDING TO GDPR</p>
<p>These rules symbolize how and where data should be safely kept and are also laid down as per GDPR. Queries about storing data safely can be directed to the IT manager or data controller. When data is stored on paper, it should be kept in a protected place where illegal people cannot see it. These rules also apply to information that is usually kept electronically but has been published for some reason:</p>
<ol>
    <li>When not required, the paper or files should be kept in a protected drawer or filing cupboard. Workers should make sure paper and printouts are not left where unofficial people could see them, like on a printer</li>
    <li>Data copies should be shredded and disposed of firmly when no longer required.</li>
    <li>When data is stored automatically, it must be protected from unlawful access, accidental removal and malicious hacking attempts:</li>
    <li>Data should be sheltered by strong passwordsthat are changed frequently and never shared among workers.</li>
    <li>If data is kept on detachable media (like a CD or DVD), these should be kept locked away safely when not being used.</li>
    <li>Data should only be stored on selected drives and servers, and should only be uploaded to support cloud computing services.</li>
    <li>Servers containing individual data should be sited in a secure site, away from general office spaces.</li>
    <li>Data should be backed up regularly. Those backups should be tested frequently, in line with the company’s standard backup procedures.</li>
    <li>Data should never be saved straight to laptops or other mobile devices like tablets, iPad or smartphones.</li>
    <li>All servers and systems containing data should be protected by permitted security software and a firewall.</li>
</ol>
<p class="fs-3 fw-bold">DATA USE AS PER THE GDPR NORMS</p>
<p>Privately held data is of no worth to The KOINET MEDIA unless the corporation can make use of it. However, it is when private data is improved and utilized that it can be at the utmost risk of damage, exploitation or stealing:
</p>
<ol>
    <li>When working with personal data, employees should make sure that the screens of their computers are always protected when left unattended.</li>
    <li>Private data should not be shared informally. In particular, it should never be sent by email, as this form of messages is not secure.</li>
    <li>Data must be encoded before being shifted electronically. The IT manager can demonstrate how to send data to official external contacts.</li>
    <li>Private data should never be moved outside of the European Economic Area.</li>
    <li>Employees should not save duplicates of personal data to their own systems.</li>
  <p>Continuously access and keep up-to-date the main copy of any information.</p>
</ol>
<p class="fs-3 fw-bold">DATA ACCURACY FOR GDPR COMPLIANCE</p>
<p>The law requires The KOINET MEDIA to take rational steps to ensure data is kept correct and up to date when it comes to GDPR. The more significant it is that the personal data is accurate, the greater the effort The KOINET MEDIA should put into safeguarding its accuracy. It is the responsibility of all employees who work with data to take judicious steps to safeguard it is kept as accurate and up to date as possible.</p>
<ol>
    <li> Data will be held in a few places as needed. Staff should not create any pointless additional data sets.</li>
    <li>Workers should take every chance to make sure that the data is updated. For instance, by authorizing a customer’s details when they call.</li>
    <li>The KOINET MEDIA will make it easy for data subjects to update the data The KOINET MEDIA holds about them. For instance, via the company website [www.koinetmedia.com]</li>
    <li>Data should be reorganized as inaccuracies are discovered. For instance, if a customer can no longer be reached on their stored telephone number, it should be eliminated from the database.</li>
    <li>It is the marketing manager’s duty to ensure marketing databases are checked against company-suppression files every six months.</li>
</ol>
<p class="fs-3 fw-bold">SUBJECT ACCESS REQUESTS IN TERMS OF GDPR</p>
<p>All individuals who are the subject of individual data held by The KOINET MEDIA are entitled to:</p>
<ol>
    <li>Ask what evidence the company holds about them and why.</li>
    <li>Ask how to gain admission to it.</li>
    <li>Be knowledgeable about how to keep it up to date.</li>
    <li>Be knowledgeable about how the company is meeting its data protection responsibilities.</li>
</ol>
<p class="fw-bold">All individuals who are the subject of individual data held by The KOINET MEDIA are entitled to:</p>
<p>Ask what evidence the company holds about them and why.</p>
<p>Ask how to gain admission to it.</p>
<p>Be knowledgeable about how to keep it up to date.</p>
<p>Be knowledgeable about how the company is meeting its data protection responsibilities.</p>
<p>If any person contacts the company requesting for this information, this is called a subject access request.</p>
<p>Subject access requests from individuals should be made by email, addressed to the data controller at bharat@koinetmedia.com the data supervisor can supply a standard request form, although other persons do not have to use this. Entities will be charged £10 per topic access request. The data controller will aim to deliver the relevant data within 14 days.</p>
<p>The data controller will always confirm the individuality of anyone making a subject access request before passing over any information.</p>
<p class="fs-3 fw-bold">DISCLOSING DATA FOR OTHER REASONS</p>
<p>In certain conditions, GDPR allows personal data to be disclosed to law enforcement agencies without the agreement of the data subject.</p>
<p>Under these circumstances, The KOINET MEDIA will disclose demanded data. However, the data controller will ensure the request is genuine, seeking assistance from the board and from the company’s legal guide where essential.</p>
      </div>
        </div>
      </div>
    </div>















{{>footer}}
    <a
      href="#"
      class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"
    ><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>
</body>
</html>