<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->
  {{>nav}}
    <!-- Carousel Start -->   
    <div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video class="w-100" autoplay muted loop>
                    <source src="../public/images/header2.mp4" type="video/mp4">
               
                </video>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7 text-start">
                                <p class="fs-4 text-white animated slideInRight fw-bold">Welcome to
                                    <strong class="text_red">Koinet Media</strong>
                                </p>
                                <h1 class="display-1 text-white mb-4 animated slideInRight fw-bold">Unlock Your <span class="text_red">Business</span> Growth
                                </h1>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInRight">Explore
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <video class="w-100" autoplay muted loop>
                    <source src="../public/images/header2.mp4"  type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 text-end">
                                <p class="fs-4 text-white animated slideInLeft fw-bold">Welcome to <strong class="text_red">Koinet Media</strong>
                                </p>
                                <h1 class="display-1 text-white mb-5 animated slideInLeft fw-bold">Ready to Grow Your <span class="text_red">Business</span>
                                </h1>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Explore
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

    <!-- Carousel End -->


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center pb-5">
    <h1 class="animate-text fw-bold"><span class="text_red">Hello</span> Uncover the magic behind Koinet Media!</h1>
    </div>
            <div class="row g-0 feature-row  ">
             <div class="col-md-6 col-lg-4 wow fadeIn " data-wow-delay="0.1s">
    <div class="feature-item shadow h-100 p-5 hover-effect">
        <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="public/images/icon-1.png" alt="Icon">
        </div>
        <a class="mb-3 fs-4 fw-bold text_red" href="/approch">APPROACH</a>
        <p class="mb-0">We Lead The Industry By Delivering Innovative Programs That Reflect Our Unique And Broad Multi-Channel Capabilities</p>
    </div>
    </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="feature-item shadow h-100 p-5 hover-effect">
                        <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="public/images/icon-2.png" alt="Icon">
                        </div>
                        <a class="mb-3 fs-4 fw-bold text_red" href="/performance">PERFORMANCE</a>
                        <p class="mb-0">We Serve Clients With Quality And Distinction, Making A Measurable And Attributable Impact On Every Program We Execute</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.9s">
                    <div class="feature-item shadow h-100 p-5 hover-effect">
                        <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                            <img class="img-fluid" src="public/images/icon-3.png" alt="Icon">
                        </div>
                        <a class="mb-3 fs-4 fw-bold text_red" href="/marketing">MARKET DEMAND</a>
                        <p class="mb-0">Market demand refers to the total quantity of a product that consumers are able to purchase at various prices within a specific time.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- About Start -->
    <div class="container-xxl about my-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="h-100 d-flex align-items-center justify-content-center" style="min-height: 300px;">
                        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                          <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 pt-lg-5  wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-white rounded-top p-5 mt-lg-5">
                        <p class="fs-3 fw-medium  fw-bold"><span class="text_red">A</span>bout <span class="text_red">U</span>s</p>
                        <h1 class="display-6 mb-4 fw-bold">KoinetMedia is a demand generation agency like no other. With the power of our experienced team</h1>
                        <p class="mb-4">consistently deliver accurate data, engaged contacts, and qualified prospects to our clients. KoinetMedia, a leading demand generation agency, our clients augment their in-house demand generation campaigns (including ABM) by partnering
                            with us to build large sales pipelines. We perform content syndication and employ experienced solution consultants to nurture, connect and qualify prospects - all on a performance basis. Our unique approach incorporates a comprehensive
                            understanding (aided by our proprietary e-learning system) of each client’s solution. KoinetMedia has also, over the years, assisted hundreds of thousands of business professionals to select better technology solutions. We
                            provide content on a variety of cutting-edge IT topics, such as cloud computing, data management, cyber security, unified communications, collaboration, networking, and more. Moreover, our solution consultants have the experience
                            to make personal recommendations to technology decision-makers by engaging with them on a one-to-one basis.</p>

                        <!-- <a class="btn btn-primary rounded-pill py-3 px-5" href="">Explore More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="">
                <p class="fs-1 fw-medium "><span class="text_red">O</span>ur <span class="text_red">S</span>ervices</p>
                <h1 class="display-5 mb-5 fw-bold animate-text"><span class="text_red">Digital</span> Marketing Services that We Offer</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6  wow  fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative ">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-5.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">MULTI CHANNEL LEAD</h4>
                                <p class="mb-0">Multi-channel lead generation is the practice of using multiple marketing channels to capture and nurture leads for your business
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item position-relative ">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-6.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">CONTACT DISCOVERY</h4>
                                <p class="mb-0">Get easy access to updated information of target companies from us and drive responsive campaigns to reap high profits
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative ">
                        <div class="service-text rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-7.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">EMAIL MARKETING</h4>
                                <p class="mb-0">Most B2B buying decisions are not made by a single person, but rather by a collective group of people.Account-based marketing strategic approach marketers use to support a defined universe of accounts
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative ">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-8.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">DATA APPEND AND CLEANSING</h4>
                                <p class="mb-0">Data cleansing is an essential element to maintain database hygiene and get maximum ROI from your marketing strategies
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item position-relative ">
                        <div class="service-text rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-9.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">DEMAND GENERATION</h4>
                                <p class="mb-0">Demand generation is the process of creating interest and awareness in your products or services among your target audience.
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative ">
                        <div class="service-text rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-10.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">SOCIAL MEDIA MARKETING</h4>
                                <p class="mb-0">Gain traffic and attention for your brands and services through Social Media and Offering to your Ideal Customer
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative ">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-10.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">ACCOUNT MARKETING</h4>
                                <p class="mb-0">Most B2B buying decisions are not made by a single person, but rather by a collective group of people. Account-based marketing (ABM) is the strategic approach marketers use to support a defined universe of accounts
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-10.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">APPOINTMENT</h4>
                                <p class="mb-0">When starting an Appointment Setting Program, we help you carefully select the criterion that defines your requirement.
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative">
                        <div class="service-text shadow rounded p-5 h-100">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-10.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">ACCOUNT PROFILING</h4>
                                <p class="mb-0">The opportunity to gain in depth understanding on how a potential customer operates, how they are structured, who are the key decision makers, their decision making process, who they currently purchase from as well as their
                                    future plans.
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative">
                        <div class="service-text shadow rounded p-5 h-100 ">
                            <div class="btn-square bg-light rounded-circle mx-auto mb-4" style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="public/images/icon-10.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">SEARCH ENGINE OPTIMIZATION</h4>
                                <p class="mb-0">Search Engine Optimization (SEO) is the practice of optimizing your website to improve its visibility on search engines like Google, Bing, and Yahoo.
                                </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="text-primary fw-medium" href="">Read More<i
                                    class="bi bi-chevron-double-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Working Process Start -->
    <div class="container-xxl pt-5">
        <div class="container">
            <div class="row">
                <div class="col text-center mb-3">
                    <div class=" text-md-center pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="fs-1 fw-bold"><span class="text_red">W</span>orking <span class="text_red">P</span>rocess</p>
                        <!-- <h1 class="display-5 mb-5">What Clients Say About Our Services!</h1> -->
                    </div>
                </div>
            </div>
            <div class="container workProcess">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-12 col-md-4">
                        <div class="card w-100">
                            <div class="image">
                                <img href="#" src="public/images/plan1.webp" class="card-img-top" />
                            </div>
                            <div class="content">
                                <h3 class="fw-bold">We Plan Properly</h3>
                                <p>We Help You To Plan Effectively And Productively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card w-100">
                            <div class="image">
                                <img href="#" src="public/images/startproject.jpg" class="card-img-top" />
                            </div>
                            <div class="content">
                                <h3  class="fw-bold">We Start Project</h3>
                                <p>Start With The End In Mind</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card w-100">
                            <div class="image">
                                <img href="#" src="public/images/showcase.jpg" class="card-img-top" />
                            </div>
                            <div class="content">
                                <h3  class="fw-bold">We Showcase Work</h3>
                                <p>We Showcase Your Worth</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card w-100">
                            <div class="image">
                                <img href="#" src="public/images/youwillhappy.avif" class="card-img-top" />
                            </div>
                            <div class="content">
                                <h3 class="fw-bold">You'll be Happy</h3>
                                <p>Great Marketers Think In Terms Of Growth FrameWorks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-1.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-2.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-3.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-4.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Working Process End -->
    <!-- Blog Start -->
    <div class="container-xxl pt-5">
        <div class="container">
            <div class="row ">
                <div class="col text-center">
                    <div class="text-md-center pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="fs-1 fw-bold"><span class="text_red">L</span>atest <span class="text_red">B</span>logs</p>
                        <h1 class="display-6 mb-5 fw-bold animate-text" >Embark on a Journey: Discovering Hidden Gems in Our Latest Blog</h1>
                    </div>
                </div>
            </div>
            <div class="owl-carousel project-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-item  mb-5 shadow p-1">
                    <div class="position-relative">
                        <img class="img-fluid" src="public/images/Blog1.png" alt="">
                        <div class="project-overlay">
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href="public/images/project-1.jpg" data-lightbox="project"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 fw-bold text-decoration-none" href="">Innovation in Customer Retention Strategies</a>
                        <span>With the rise of social media, businesses have gained access to a whole new platform for nurturing B2B relationships.</span>
                    </div>
                </div>
                <div class="project-item mb-5 shadow p-1">
                    <div class="position-relative">
                        <img class="img-fluid" src="public/images/abtesting.png" alt="">
                        <div class="project-overlay">
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href="public/images/project-2.jpg" data-lightbox="project"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 fw-bold text-decoration-none" href="">A/B TESTING TO OPTIMIZE EMAIL CONTENT AND DESIGN MASTERING A/B TESTING:</a>
                        <span>UNLOCKING EMAIL CONTENT AND DESIGN OPTIMIZATION</span>
                    </div>
                </div>
                <div class="project-item mb-5">
                    <div class="position-relative">
                        <img class="img-fluid" src="public/images/theroll.jpeg" alt="">
                        <div class="project-overlay">
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href="public/images/project-3.jpg" data-lightbox="project"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-light rounded-circle m-1" href=""><i
                                    class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="p-4">
                        <a class="d-block h5 fw-bold text-decoration-none" href="">THE ROLE OF CHATBOTS IN B2B CUSTOMER SERVICE</a>
                        <span>Chatbots are becoming increasingly popular in B2B customer service due to their ability to provide quick, convenient, and personalized support to customers.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <!-- Quote Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="fs-5 fw-medium text-primary">Get A Quote</p>
                    <h1 class="display-5 mb-4">Need Our Expert Help? We're Here!</h1>
                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <a class="d-inline-flex align-items-center rounded overflow-hidden border border-primary" href="">
                        <span class="btn-lg-square bg-primary" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </span>
                        <span class="fs-5 fw-medium mx-4">+012 345 6789</span>
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h2 class="mb-4">Get A Free Quote</h2>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                <label for="mail">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                <label for="mobile">Your Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <select class="form-select" id="service">
                                    <option selected>Digital Marketing</option>
                                    <option value="">Social Marketing</option>
                                    <option value="">Content Marketing</option>
                                    <option value="">E-mail Marketing</option>
                                </select>
                                <label for="service">Choose A Service</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 130px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Quote Start -->


    <!-- Team Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary">Our Team</p>
                <h1 class="display-5 mb-5">Our Expert People Ready to Help You</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden pb-4">
                        <img class="img-fluid mb-4" src="img/team-1.jpg" alt="">
                        <h5>Alex Robin</h5>
                        <span class="text-primary">Founder & CEO</span>
                        <ul class="team-social">
                            <li><a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded overflow-hidden pb-4">
                        <img class="img-fluid mb-4" src="img/team-2.jpg" alt="">
                        <h5>Adam Crew</h5>
                        <span class="text-primary">Co Founder</span>
                        <ul class="team-social">
                            <li><a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded overflow-hidden pb-4">
                        <img class="img-fluid mb-4" src="img/team-3.jpg" alt="">
                        <h5>Boris Johnson</h5>
                        <span class="text-primary">Executive Manager</span>
                        <ul class="team-social">
                            <li><a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded overflow-hidden pb-4">
                        <img class="img-fluid mb-4" src="img/team-4.jpg" alt="">
                        <h5>Robert Jordan</h5>
                        <span class="text-primary">Digital Marketer</span>
                        <ul class="team-social">
                            <li><a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a class="btn btn-square" href=""><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->


    <!-- Testimonial Start -->
    <!-- <div class="container-xxl pt-5">
        <div class="container">
            <div class="text-center text-md-start pb-5 pb-md-0 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary">Testimonial</p>
                <h1 class="display-5 mb-5">What Clients Say About Our Services!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-1.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-2.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-3.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="img/testimonial-4.jpg" alt="">
                    <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
                    <h5>Client Name</h5>
                    <span class="text-primary">Profession</span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Testimonial End -->


    <!-- Footer Start -->

   {{>footer}}
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>

</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Koinet | Media</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
</body>

</html>