<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
  </head>
  <body>
    {{>nav}}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="fw-bold text-center my-5"><span
                class="text_red"
              >P</span>rivacy-<span class="text_red">P</span>olicy</h1>
          </div>
          <div>
            <p>koinet media (“koinet media”, “we”, “us”, “our”) wants to earn
              your trust by telling you exactly how we collect and use
              information about you. We are committed to safeguarding the
              privacy of our website, as data protection is of a particularly
              high priority for the management of our company. We also want you
              to have control over your personal data. This document describes
              our privacy policy and includes some useful links to websites
              where you can learn more about protecting your privacy.</p>
            <p class="fs-3 fw-bold">Introduction</p>
            <p>At koinet media, we are creating a dynamic online community where
              you can search for business services, review vendor ratings, and
              get candid and honest feedback on vendor services. Registered
              members (“members”) can rate vendors, provide references, and
              answer questions from other members. To insure accuracy, we allow
              business vendors to flag ratings and references that may not come
              from actual customers.</p>
            <p>The processing of personal data, such as, but not limited to, the
              name, address, e-mail address, or telephone number of a data
              subject will always be in line with the:</p>
            <ol>
              <li>General Data Protection Regulation (GDPR), applicable to a
                citizen of the European Union (EU), regardless of where they
                reside,</li>

              <li>Privacy Act U.S.C. 552a (Privacy Act of USA),</li>
              <li>California Consumer Privacy Act (CCPA) – for more detail, see
                CCPA INFORMATION</li>
              <li>Any other country-specific data protection regulations
                applicable.</li>
              <li>By means of this data protection declaration, our company
                would like to inform the general public of the nature, scope,
                and purpose of the personal data we collect, use and process.
                Furthermore, data subjects (including members) are informed, by
                means of this data protection declaration, of the rights to
                which they are entitled.</li>
            </ol>
            <p class="fw-bold">We don’t release or sell member information, so
              our members’ privacy is protected. Our Privacy Policy explains:</p>
            <ol>
              <li>What Personal Data we collect and why we collect it</li>
              <li>How we use Personal Data</li>
              <li>Who we share Personal Data with</li>
              <li>The choices we offer, including how to access, update, and
                remove Personal Data</li>
            </ol>
            <p>As controller and processor, we have implemented numerous
              technical and organizational measures to ensure the most complete
              protection of personal data processed through this website and
              application. However, internet-based data transmissions may, in
              principle, have security gaps occasionally, so absolute protection
              may not be guaranteed. For this reason, every data subject is free
              to transfer personal data to us via alternative means, e.g. by
              telephone.</p>
            <p>In your relationship with us through the website, the controller,
              for the purposes of the General Data Protection Regulation (GDPR),
              and other data protection laws applicable in Member states of the
              European Union and other provisions related to data protection,
              is:</p>
            <p>KOINET MEDIA Kharadi, pune ,411014. Data Protection
              Officer:Bharat Pawar, info@koinetmedia.com +918796633318</p>
            <p class="fs-3 fw-bold">Privacy Commitment</p>
            <p>To protect your privacy, koinet media has instituted a number of
              policies that give you information and control:</p>
            <p>We provide a link to this privacy statement on all pages that ask
              for personal information.</p>
            <p>We will not store or release personal identifying information
              about you without first obtaining your consent.</p>
            <p>We will not knowingly collect or use personal identifying
              information from children younger than 13.</p>
            <p>This privacy statement discloses our practices for the gathering
              and use of information from visitors to our own websites and from
              people who register for services that we offer online.</p>
            <p class="fs-3 fw-bold">Your Acceptance</p>
            <p>By using our sites, you signify your agreement to the privacy
              polices described above. If you do not agree with our privacy
              policies, please do not use our website(s) (“sites”). If we make
              any substantial changes to the way we use your personal
              information, we will notify you by posting a prominent
              announcement on our pages or we will email you if you are a
              member.</p>
            <p class="fs-3 fw-bold">Use Cases</p>
            <p>Please take a moment to understand which use case(s) set out in
              this Privacy Policy apply to you:</p>
            <p class="fs-3 fw-bold">Website Visitor</p>
            <p>You are a “Website Visitor” by definition when you visit our
              website (www.koinet media.com) and any subdomains associated with
              our principal domain (*.koinet media.com). As a website visitor,
              we use your information for our own purposes. Primarily for
              improving the use of our website and to provide you with a more
              relevant browsing experience.</p>
            <p class="fs-3 fw-bold">Phone Visitor</p>
            <p>You are a “Phone User” by definition if you call any member of
              our team, including Business Development, Sales, or Partner
              Development for any purpose.</p>
            <p class="fs-3 fw-bold">Definitions</p>
            <p>Our data protection policy should be legible and understandable
              for the general public, as well as for our customers and business
              partners. To ensure this, we would like to first explain the
              terminology used. In this data protection declaration, we use,
              inter alia, the following terms:</p>
            <p class="fs-3 fw-bold"> Personal data</p>
            <p>Personal data means any information relating to an identified or
              identifiable natural person (“data subject”). An identifiable
              natural person is one who can be identified, directly or
              indirectly, in particular by reference to an identifier such as a
              name, an identification number, location data, an online
              identifier or to one or more factors specific to the physical,
              physiological, genetic, mental, economic, cultural or social
              identity of that natural person.</p>
            <p class="fs-3 fw-bold">Data subject</p>
            <p>Data subject is any identified or identifiable natural person,
              whose personal data is processed by the controller responsible for
              the processing.</p>
            <p class="fs-3 fw-bold">Processing</p>
            <p>Processing is any operation or set of operations which is
              performed on personal data or on sets of personal data, whether or
              not by automated means, such as collection, recording,
              organization, structuring, storage, adaptation or alteration,
              retrieval, consultation, use, disclosure by transmission,
              dissemination or otherwise making available, alignment or
              combination, restriction, erasure or destruction.</p>
            <p class="fs-3 fw-bold">Restriction of processing</p>
            <p>Restriction of processing is the marking of stored personal data
              with the aim of limiting their processing in the future.</p>

            <p class="fs-3 fw-bold">Profiling</p>
            <p>Profiling means any form of automated processing of personal data
              consisting of the use of personal data to evaluate certain
              personal aspects relating to a natural person, in particular to
              analyze or predict aspects concerning that natural person’s
              performance at work, economic situation, health, personal
              preferences, interests, reliability, behavior, location or
              movements.</p>
            <p class="fs-3 fw-bold">Controller or controller responsible for the
              processing</p>
            <p>Controller or controller responsible for the processing is the
              natural or legal person, public authority, agency or other body
              which, alone or jointly with others, determines the purposes and
              means of the processing of personal data; where the purposes and
              means of such processing are determined by Union or Member State
              law, the controller or the specific criteria for its nomination
              may be provided for by Union or Member State law.</p>
            <p class="fs-3 fw-bold">Processor</p>
            <p>Processor is a natural or legal person, public authority, agency
              or other body which processes personal data on behalf of the
              controller.</p>

            <p class="fs-3 ffw-bold">Recipient</p>
            <p>Recipient is a natural or legal person, public authority, agency
              or another body, to which the personal data are disclosed, whether
              a third party or not. However, public authorities which may
              receive personal data in the framework of a particular inquiry in
              accordance with Union or Member State law shall not be regarded as
              recipients; the processing of those data by those public
              authorities shall be in compliance with the applicable data
              protection rules according to the purposes of the processing.</p>
            <p class="fs-3 fw-bold">Third party</p>
            <p>Third party is a natural or legal person, public authority,
              agency or body other than the data subject, controller, processor
              and persons who, under the direct authority of the controller or
              processor, are authorized to process personal data.</p>
            <p class="fs-3 fw-bold">Consent</p>
            <p>Consent of the data subject is any freely given, specific,
              informed and unambiguous indication of the data subject’s wishes
              by which he or she, by a statement or by a clear affirmative
              action, signifies agreement to the processing of personal data
              relating to him or her.</p>
            <p class="fs-3 fw-bold">What Personal Data we collect and how do we
              collect it</p>
            <p>All Personal Data that is collected through the use of the koinet
              media website is stored in the United States of America. Upon
              acquisition of our services, we will ask for your full name and a
              valid e-mail address, which will be included in our emailing list,
              for future updates, and eventual marketing promotions. In this
              Section we have set out:
            </p>
            <ol>
              <li>The general categories of personal data that we may process.</li>
              <li>In the case of personal data that we did not obtain directly
                from our customers, the source and specific categories of that
                data;</li>
              <li>The purposes for which we may process personal data.</li>
              <li>The legal bases of the processing.</li>
            </ol>
            <p>We may process data about your use of our website and services
              (“usage data”). The usage data may include your IP address,
              geographical location, browser type and version, operating system,
              referral source, length of visit, page views and website
              navigation paths, as well as information about the timing,
              frequency and pattern of your service use. The source of the usage
              data is our analytics tracking system. This usage data may be
              processed for the purposes of analyzing the use of the website and
              services.</p>
            <p>We may process your member data (“member data”). If you contact
              us by email, complete our registration forms, surveys, or entry
              forms, register for our community services, subscribe to our
              newsletters, or participate in one of our contests or sweepstakes,
              we will ask you for certain information. The member data may
              include the following data elements:</p>

            <ul>
              <li class="fs-3">Your Name</li>
              <li class="fs-3">Your Age</li>
              <li class="fs-3">Company Name</li>
              <li class="fs-3">Company Address</li>
              <li class="fs-3">Company Telephone Number</li>
              <li class="fs-3">Company Mailing Address</li>
              <li class="fs-3">Company Zip Code</li>
              <li class="fs-3">Company Email Address</li>
              <li class="fs-3">Company Website Address</li>
              <li class="fs-3">Company Website Description</li>
              <li class="fs-3">Company Website Primary Language</li>
              <li class="fs-3">Company Size</li>
              <li class="fs-3">Professional Contacts Within Your Company</li>
            </ul>
            <p>We may also collect general information about your company so
              that we can better match your needs with our vendor database. The
              member data may be processed for the purposes of providing our
              services, updates, promotions, ensuring the security of our
              website and services, maintaining back-ups of our databases and
              communicating with you.</p>
            <p>We may process information contained in any inquiry you submit to
              us regarding goods and/or services (“inquiry data”). The inquiry
              data may be processed for the purposes of providing our services,
              ensuring the security of our website and services, maintaining
              back-ups of our databases and communicating with you.</p>
            <p>We may process information relating to our advertiser
              relationships, including customer contact information (“advertiser
              data”). The advertiser relationship data may include your name,
              your employer, your job title or role, your contact details, and
              information contained in communications between us and you or your
              employer. We may also ask for your credit card number in order to
              process a transaction. The advertiser data may be processed for
              the purposes of providing our services, ensuring the security of
              our website and services, maintaining back-ups of our databases
              and communicating with you.</p>
            <p>We may process information relating to our partner relationships,
              including partner contact information (“partner data”). The
              partner relationship data may include your name, your employer,
              your job title or role, your contact details, and information
              contained in communications between us and you or your employer.
              The partner data may be processed for the purposes of providing
              our services, ensuring the security of our website and services,
              maintaining back-ups of our databases and communicating with you.</p>
            <p>We may process information relating to transactions, including
              purchases of goods and services, that you enter into with us
              and/or through our services (“transaction data”). The transaction
              data may include your contact details, and the transaction
              details. The transaction data may be processed for the purposes of
              providing our services, ensuring the security of our website and
              services, maintaining back-ups of our databases and communicating
              with you. We may process information contained in or relating to
              any communication that you send to us (“correspondence data”). The
              correspondence data may include the communication content and
              metadata associated with the communication. Our website will
              generate the metadata associated with communications made using
              the website contact forms. The correspondence data may be
              processed for the purposes of providing our services, ensuring the
              security of our website and services, maintaining back-ups of our
              databases and communicating with you.</p>
            <p>“Anonymous” Information: The koinet media website collects a
              series of general data and information when a data subject or
              automated system calls up the website. This general data and
              information are stored in the server log files, and it is
              collected regardless of your use case: Website Visitor or Phone
              User.</p>
            <p class="fs-3 fw-bold">Collected data may include:</p>
            <ol>
              <li>The ISP</li>
              <li>The operating system used by the accessing system</li>
              <li>The website from which an accessing system reaches our website
                (so-called referrers)</li>
              <li>The sub-website</li>
              <li> The date and time of access to the website</li>
              <li> An Internet Protocol address (IP address)</li>
              <li>Screen Resolution</li>
              <li>Local Preferences</li>
              <li>Web page visited before you came to our website</li>
              <li>Information you search for on our website</li>
              <li> Date and time stamps associated with transactions</li>
              <li>System configuration information and other interactions with
                the website.</li>
              <li>
                Call recordings – you will be notified whether the call is being
                recorded at the start of every call to us.</li>
              <li>Call log – including the phone number, time and date, and
                length of the call.</li>
              <li>Social networking information (if we are provided with access
                to your account on social network connection services)</li>
              <li>Any further personal data contained in any files that you
                upload (“Files”) to our website.</li>
              <li>Any other similar data and information that may be used in the
                event of attacks on our information technology systems.</li>
              <li>
                When using these general data elements, koinet media does not
                draw any conclusions about the data subject. Rather, this
                information is needed to:</li>
              <li>Deliver the content of our website correctly</li>
              <li>Optimize the content of our website as well as its
                advertisement</li>
              <li>Ensure the long-term viability of our information technology
                systems and website technology</li>
              <li>Provide law enforcement authorities with the information
                necessary for criminal prosecution in case of a cyber-attack</li>
            </ol>
            <p>In addition to the specific purposes for which we may process
              your personal data set out in this Section, we may also process
              any of your personal data where such processing is</p>
            <p>necessary for compliance with a legal obligation to which we are
              subject, or in order to protect your vital interests or the vital
              interests of another natural person.</p>
            <p>Please do not supply any other person’s personal data to us,
              unless we prompt you to do so.</p>
            <p class="fs-3 fw-bold">Former Member</p>
            <p>Once you have left your affiliated organization (as determined by
              the viability of your work-related email address) and cease to be
              a member for our own purposes, then we are a “data controller” for
              the purposes of the Data Protection Legislation. We regularly
              (monthly, or more frequently) purge our data base of records
              associated with a non-operational email address or phone number.
              Also, it is our policy to not capture (or regularly eliminate if
              found) any personally identifiable email address (one that does
              not include a work-related domain name). What Type of Personal
              Information Do We Collect and Use?</p>
            <p class="fs-3 fw-bold">How Do We Use Personal Information?</p>
            <p>We will use the received data to help you easily obtain
              assistance on your problems, after the acquisition of our
              services; to provide you with personalized content and
              information, including online listings or other forms of direct
              marketing; to offer, improve, test and monitor the effectiveness
              of our services; to develop and test new products and functions;
              to monitor metrics such as total visitor numbers, traffic and
              demographic models; to diagnose or solve technological problems;
              and to automatically update the website. Registration information
              submitted on our website is used by us for the purpose for which
              it was submitted and may also be used by koinet media to make your
              visits to our website easy and productive.</p>
            <p>We do not rent or sell your information to third parties outside
              of koinet media without your consent, unless otherwise provided on
              the basis of statutory provisions. We may share your information,
              as well as information from tools such as cookies or similar, with
              third party organizations that help us provide you with the
              services, but only as far as is reasonably necessary.</p>
            <p>We may share your data as deemed appropriate and in accordance
              with applicable laws and conditions. This sharing of your personal
              data includes where we act as a data processor on behalf of your
              organization as per the instructions and obligations in the
              agreement between us and your organization. We may share your
              personal data in the following manner:</p>
            <p class="fs-3 fw-bold">Your Use:</p>
            <p>Your personal data will be displayed on your profile page which
              may permit other individuals associated with your organization to
              access your personal information. If you use the community
              functions of the koinet media website such as blogs, chat rooms,
              forums, message boards, wikis, vendor ratings and vendor
              references, you acknowledge and accept that your personal data
              shared via these services may be read, collected and used by other
              website users with access to them.
            </p>
            <p>You must also be aware that any posts you make on the koinet
              media website may remain despite the closing of your account</p>
            <p class="fs-3 fw-bold">Advertisers:</p>
            <p>With your expressed consent, we may share member information with
              advertisers wishing to contact you to provide their services. This
              will only be done when you have made a request to be contacted. We
              will not share your registration information unless you request to
              be contacted. We may also use personal information to allow us to
              charge advertisers and to contact members regarding changes to
              either koinet media and/or advertiser services.</p>
            <p class="fs-3 fw-bold">Third Parties:</p>
            <p>We may, at our discretion, employ the services of third-party
              companies and individuals to supply, analyze and improve the
              koinet media platform. This includes, but is not limited to, data
              storage, database management, web analytics, maintenance support,
              payment processing and the upgrading or improving of koinet media
              products and services. In providing services to us, these third
              parties may gain access to your personal data but will do so only
              in relation to undertaking tasks on our behalf under the agreement
              we hold with them. In such an event, your personal data is
              protected under stipulations similar to those in our Privacy
              Policy.</p>
            <p class="fs-3 fw-bold">Other Service Providers, Business Partners
              and Third Parties:</p>
            <p>Your personal data may also be shared with agents or third-party
              service providers acting on behalf of koinet media. These third
              parties include but are not limited to professional advisers,
              telecommunication and internet service providers. Your personal
              information may be shared with these third parties where it is
              required for them to perform the services (for example, to
              validate credit card information) for which they have been
              contracted to undertake by koinet media; however, they are not
              permitted to use your personal data for any other purpose.</p>
            <p class="fs-3 fw-bold">Third-Party Applications:</p>
            <p>With your consent, your personal data may be shared with
              third-party applications, for example when you access koinet media
              through one of these applications. koinet media is not responsible
              for how these third-party applications use your information. When
              accessing koinet media through a third-party application, it is
              solely your responsibility to ensure you trust the third-party
              application and that it has a privacy policy that protects your
              data in a way that you require.</p>
            <p class="fs-3 fw-bold">Legal Compliance and Law Enforcement:</p>
            <p>We maintain the right to disclose files or data stored on the
              koinet media platform or information we have collected about you
              through the use of our services when, in good faith, we believe
              doing so is reasonably required to comply with the law, regulatory
              requirements, enforced legal requests, or to protect koinet
              media’s intellectual property. In the event your data is provided
              to a law enforcement agency as per the above, koinet media will
              remove encryption from your files and data to enable access by Law
              Enforcement.</p>
            <p class="fs-3 fw-bold">Transference of Your Data:</p>
            <p>In the event that we are involved in a merger, acquisition or
              full or partial sale, your personal data may be transferred to
              associated parties as part of the transaction. Should this occur,
              you and/or you organization shall be notified to the change of
              ownership, control or use of your personal data, and if the
              transaction has made them subject to a different Privacy Policy.
              We will notify you either via email or through a prominent
              notification on our website.</p>
            <p class="fs-3 fw-bold">Non-private or Non-Personal data:</p>
            <p>We maintain the right to disclose your non-private, collected or
              otherwise non-personal data, for example usage data of the koinet
              media platform.</p>
            <p class="fs-3 fw-bold">Group Companies:</p>
            <p>We maintain the right to share your personal data with our group
              companies. In addition to the specific disclosures of personal
              data set out in this Section, we may disclose your personal data
              where such disclosure is necessary for compliance with a legal
              obligation to which we are subject, or in order to protect your
              vital interests or the vital interests of another natural person.
              We may also disclose your personal data where such disclosure is
              necessary for the establishment, exercise or defense of legal
              claims, whether in court proceedings or in an administrative or
              out-of-court procedure.</p>
            <p>We can access your information as well as store and share it in
              response to a request when the law requires us to do so. In
              addition, we may access your information, as well as store and
              share it, if we believe in good faith that this is necessary to:
              detect, prevent and manage fraud and other illegal activities;
              protect ourselves, you and other people, even in the context of
              any investigations; prevent events that could cause imminent
              physical damage or death.</p>
            <p>Except for purposes expressly stated in this Privacy Policy,
              koinet media will not use your personal information.</p>
            <p>If you want to delete or change the personal information that you
              have given us, you may do this by accessing the Edit Profile
              section of our website.</p>
            <p>If You Contact Us</p>
            <p>We use return email addresses to answer the email we receive at
              any of our sites, but such email addresses are not stored or used
              for any other purpose.</p>
            <p class="fs-3 fw-bold">Aggregate Information</p>
            <p>koinet media may share aggregate statistical information gathered
              from the registration process with advertisers, business partners,
              sponsors, or other third parties, but none of them receive
              personally identifiable information that has been collected about
              you at our sites. For example, we may tell an advertiser that X
              number of visitors visited a certain area on a website or that Y
              number of men and Z number of women filled out registration forms,
              but we would not disclose anything that would personally identify
              those individuals. We share this information only on an aggregate,
              anonymous basis and never on an individual basis.</p>
            <p class="fs-3 fw-bold">Anonymous Information</p>
            <p>To understand how koinet media uses cookies, please refer to our
              separate Cookie Policy. Web Beacons Our web pages using web
              analytics services contain electronic image requests (called a
              “single-pixel gif” or “web beacon” request) that allow us to count
              page views and to access COOKIES. Any electronic image viewed as
              part of a web page, including an ad banner, can act as a web
              beacon. Web beacons are typically 1-by-1 pixel files, but their
              presence can usually be seen within your browser by clicking on
              “View” and then on “Source” on the Internet Explorer menu. We
              include web beacons in HTML-formatted newsletters that we send to
              opt-in subscribers in order to count how many newsletters have
              been read. Our web beacons do not collect, gather, monitor, or
              share any personal information about our website visitors; they
              are just the technique we use to compile our anonymous information
              about website usage.</p>
            <p class="fs-3 fw-bold">Data Quality</p>
            <p>We will take reasonable steps to ensure that personal information
              we have about you is accurate, complete and up to date when we use
              it. Generally, we rely on you to assist us in keeping your
              personal information accurate and up to date.</p>
            <p class="fs-3 fw-bold">Data Security Information</p>
            <p>Our sites have physical, electronic, and managerial security
              measures in place to protect the loss, misuse, and alteration of
              the information under our control. We take many measures to
              protect this information while it is stored: We use Secure Socket
              Layer (SSL) connections with 128-bit encryption for certain
              transactions and confidential data. When you use a secure browser,
              all information you submit to us is transmitted to us over the
              Internet in an encrypted form. Every secure page has been secured
              with a digital certificate issued by a third party certification
              authority. This is shown via the “site certificate” that sits on
              all secure pages. To view this certificate, click on the image of
              the closed lock or the solid key on your browser.</p>
            <p>We monitor system and application activity logs to identify any
              unusual activity from authorized or unauthorized individuals
              accessing our systems or making changes to stored information. We
              regularly perform preventative system maintenance and monitoring
              to ensure the security of our data systems.</p>
            <p>Our servers are maintained in secure facilities. koinet media
              network operations monitor our data center 24 hours per day, seven
              days per week.</p>
            <p>All our employees sign confidentiality agreements and only our
              employees who need the information to perform their job are
              granted access to personally identifiable information or any other
              confidential data.</p>
            <p>You do not need to set up a user id and password to use our
              websites because we do not require you to establish your identity
              when you visit our sites. However, if you have subscribed to some
              of our services or are a customer seeking access to your account
              information, then you will have to provide a username and
              password. We recommend you do not divulge your password to anyone.
              koinet media will never ask you for your password in an
              unsolicited telephone call or email. You are responsible for the
              secrecy of your passwords.</p>
            <p>Unfortunately, no data transmission over the Internet, or any
              wireless network, can be guaranteed to be 100% secure. As a
              result, while we strive to protect your personal information, we
              cannot ensure or warrant the security of any information you
              transmit, and you do so at your own risk. Once we receive your
              transmission, we make our best effort to ensure its security on
              our systems.</p>
            <p>Access, Correction, and Deletion We respect your privacy rights
              and provide you with reasonable access to the information we have
              collected about you and obtain a more in-depth explanation about
              how the information is used.</p>
            <p>If you wish to access or amend any other personal information we
              hold about you, or to request that we delete any information about
              you that we have obtained through procuring our website and
              applications, you may contact us at info@koinetmedia.com. Unless
              personal information is required to be retained by us for
              administrative or legal reasons, koinet media will meet such
              requests at the earliest possible opportunity.</p>
            <p>If you would like access to detailed personal information and
              such information is not immediately or easily accessible by us, we
              may charge an administrative fee for our costs in retrieving and
              supplying the information to you.</p>
            <p class="fs-3 fw-bold">Children</p>
            <p>We comply with the Children’s Online Privacy Protection Act of
              1998 (COPPA). COPPA and its accompanying FTC regulations establish
              United States federal law that protects the privacy of children
              using the Internet. koinet media does not knowingly collect
              contact information or any other type of personally identifiable
              information from children under 13. Our sites are not intended to
              solicit information of any kind from children under 13, and we
              have designed our sites to block our knowing acceptance of
              information from children under 13 wherever age-related
              information is requested.</p>
            <p>It is possible that by fraud or deception we may receive
              information pertaining to children under 13. If we are notified of
              this, as soon as we verify the information, we will immediately
              delete the information. If you want to notify us of our receipt of
              information by children under 13, please do so by emailing us at
              info@koinetmedia.com</p>
            <p class="fs-3 fw-bold">Edit Your Information</p>
            <p>We may contact any registrant at any time regarding
              service-related problems or questions as well as changes to
              policies or terms of service, but we want you to have control of
              your personal information and the communications directed to you.
              Therefore, you can review, correct, change, or remove your
              personal registration information and elect not to receive future
              communications from us by selecting the appropriate link from the
              list below. You can also send us an email at info@koinetmedia.com.
              To protect your privacy and security, we take reasonable steps to
              verify your identity before granting access or making changes.</p>
            <p class="fs-3 fw-bold">Unsolicited Emails Received by You</p>
            <p>KOINET MEDIAdoes not send emails to non-business email addresses
              or to anyone who has asked to be not contacted. To stop receiving
              emails from KOINET MEDIA, either click on an unsubscribe link on
              the email lf or send a request to be unsubscribed to
              info@koinetmedia.com.</p>
            <p>Please be aware that if you opt-out of receiving emails from us
              or otherwise modify the nature or frequency of promotional
              communications you receive from us, it may take up to ten (10)
              business days for us to process your request. Please note that you
              may still receive administrative messages from us regarding our
              Services.</p>
            <p class="fs-3 fw-bold">Transfer of Data</p>
            <p>We take reasonable steps to ensure that if any personal
              information you give us is transferred from one continent to
              another, that it will remain subject to the protection given by
              our privacy policy and undertaken in accordance with the EU
              General Data Protection Regulation (GDPR) and USA Privacy
              Regulations where required.</p>
            <p>Data Controller and Data Processor</p>
            <p>In accordance with the regulations provided by the:</p>
            <ul>
              <li>Privacy Act U.S.C. 552a (Privacy Act of USA),</li>
              <li>
                the General Data Protection Regulation, aka GDPR, for European
                Union</li>
              <li>the Data Controller and Data Processor for KOINET MEDIAis the
                developer of the website. Data Processor is also any third party
                that receives collected personal data from us.</li>
            </ul>
            <p class="fs-3 fw-bold">Sensitive Information</p>
            <p>We do not believe in an intrusive collection of your personal
              details and will not collect information that is considered highly
              personal or highly sensitive about you without your prior consent.</p>
            <p class="fs-3 fw-bold">Data Retention and Data Deletion</p>
            <p>We only retain the personal information collected from a member
              for as long as the member’s email address is active on our mailing
              list, or otherwise for a limited period of time as long as we need
              it to fulfill the purposes for which we have initially collected
              it, unless otherwise required by law. In some cases, it is not
              possible for us to specify in advance the periods for which your
              personal data will be retained. In such cases, we will determine
              the period of retention based on the 2-year criteria, after your
              relationship with us ends. Notwithstanding the other provisions of
              this Article, we may retain your personal data where such
              retention is necessary for compliance with a legal obligation to
              which we are subject, or in order to protect your vital interests
              or the vital interests of another natural person. Your rights Some
              of the rights are complex, and not all of the details have been
              included in our summaries. Accordingly, you should read the
              relevant laws and guidance from the regulatory authorities for a
              full explanation of these rights. Your principal rights under data
              protection law are:</p>
            <ol>
              <li>The right to access;</li>
              <li>The right to rectification;</li>
              <li>The right to erasure;</li>
              <li>The right to restrict processing;</li>
              <li>The right to object to processing;</li>
              <li>The right to data portability;</li>
              <li>The right to complain to a supervisory authority; and</li>
              <li>The right to withdraw consent.</li>
            </ol>
            <p>You have the right to confirmation as to whether or not we
              process your personal data and, where we do, access to the
              personal data, together with certain additional information. That
              additional information includes details of the purposes of the
              processing, the categories of personal data concerned and the
              recipients of the personal data. Providing the rights and freedoms
              of others are not affected, we will supply to you a copy of your
              personal data. The first copy will be provided free of charge, but
              additional copies may be subject to a reasonable fee. You have the
              right to have any inaccurate personal data about you rectified
              and, taking into account the purposes of the processing, to have
              any incomplete personal data about you completed. In some
              circumstances you have the right to the erasure of your personal
              data without undue delay. Those circumstances include: [the
              personal data are no longer necessary in relation to the purposes
              for which they were collected or otherwise processed; you withdraw
              consent to consent-based processing; you object to the processing
              under certain rules of applicable data protection law; the
              processing is for direct marketing purposes; and the personal data
              have been unlawfully processed]. However, there are exclusions of
              the right to erasure. The general exclusions include where
              processing is necessary: for exercising the right of freedom of
              expression and information; for compliance with a legal
              obligation; or for the establishment, exercise or defense of legal
              claims. In some circumstances you have the right to restrict the
              processing of your personal data. Those circumstances are: you
              contest the accuracy of the personal data; processing is unlawful
              but you oppose erasure; we no longer need the personal data for
              the purposes of our processing, but you require personal data for
              the establishment, exercise or defense of legal claims; and you
              have objected to processing, pending the verification of that
              objection. Where processing has been restricted on this basis, we
              may continue to store your personal data. However, we will only
              otherwise process it: with your consent; for the establishment,
              exercise or defense of legal claims; for the protection of the
              rights of another natural or legal person; or for reasons of
              important public interest. You have the right to object to our
              processing of your personal data on grounds relating to your
              particular situation, but only to the extent that the legal basis
              for the processing is that the processing is necessary for: the
              performance of a task carried out in the public interest or in the
              exercise of any official authority vested in us; or the purposes
              of the legitimate interests pursued by us or by a third party. If
              you make such an objection, we will cease to process the personal
              information unless we can demonstrate compelling legitimate
              grounds for the processing which override your interests, rights
              and freedoms, or the processing is for the establishment, exercise
              or defense of legal claims. You have the right to object to our
              processing of your personal data for direct marketing purposes
              (including profiling for direct marketing purposes). If you make
              such an objection, we will cease to process your personal data for
              this purpose. You have the right to object to our processing of
              your personal data for scientific or historical research purposes
              or statistical purposes on grounds relating to your particular
              situation, unless the processing is necessary for the performance
              of a task carried out for reasons of public interest. To the
              extent that the legal basis for our processing of your personal
              data is:
            </p>
            <ol>
              <li>Consent</li>
              <li>That the processing is necessary for the performance of a
                contract to which you are party or in order to take steps at
                your request prior to entering into a contract, and such
                processing is carried out by automated means, you have the right
                to receive your personal data from us in a structured, commonly
                used and machine-readable format. However, this right does not
                apply where it would adversely affect the rights and freedoms of
                others.</li>
              <p>If you consider that our processing of your personal
                information infringes data protection laws, you have a legal
                right to lodge a complaint with a supervisory authority
                responsible for data protection. You may do so in the EU member
                state of your habitual residence, your place of work or the
                place of the alleged infringement. To the extent that the legal
                basis for our processing of your personal information is
                consent, you have the right to withdraw that consent at any
                time. Withdrawal will not affect the lawfulness of processing
                before the withdrawal. You may exercise any of your rights in
                relation to your personal data by written notice to us.</p>
            </ol>

            <p class="fs-3 fw-bold">Complaints Resolution</p>
            <p>We are committed to providing our clients with a fair and
              responsive system for handling and resolving complaints concerning
              the handling of their personal information. You have a right to
              complain and to have your complaint handled efficiently if you are
              concerned about our handling of your personal information. We
              believe that in receiving your complaint, we are provided with a
              valuable opportunity to improve the services we deliver to you and
              maintain your confidence in our services.
            </p>
            <p>If, at any time, you wish to lodge a complaint in respect of the
              handling, use or disclosure of your personal information by us,
              you may do so by contacting us directly.</p>
            <p>We aim to investigate and advise you of the outcome of the
              complaint promptly.</p>
            <p>If you are not satisfied with our handling of your complaint, you
              may contact the KOINET MEDIAData Protection Officer, Bhrat Pawar,
              at:
            </p>
            <p class="py-2">info@koinetmedia.com</p>
            <p>Kharadi,pune,411014.</p>
            <p class="fs-3 fw-bold">Amendments</p>
            <p>We may update this policy from time to time by publishing a new
              version on our website and applications.</p>
            <p>You should check this page occasionally to ensure you are happy
              with any changes to this policy.</p>
            <p>We may notify you of significant changes to this policy by email
              or through the private messaging system within our service system.</p>

          </div>
        </div>
      </div>
    </div>
    {{>recaptch}}
    {{>footer}}
    <!-- Back to Top -->
    <a
      href="#"
      class="btn btn-lg btn-danger btn-lg-square rounded-circle back-to-top"
    ><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="public/js/main.js"></script>
  </body>
</html>